NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/
DATA_GOV_API_KEY = v2:bd8816b094f64de2916c7abdd1f96c266d46402c51ec7a6d541c0dec654b8dfa:wTL4GojvgV215luv5a1jjJNHzYC-pm-A
NEXT_PUBLIC_SUPABASE_URL=https://jgahlxruutbwdgomqopq.supabase.co/
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_nEEf-MS9qH9jolpo3UAicw_NNLTHdGF
